In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 1000)

In [3]:
bicycle_data = pd.read_csv('data/최종작업파일/bicycle_data.csv', encoding = 'utf-8')
bicycle_data

,Unnamed: 0,대여일자,대여시간,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량(Kcal),탄소량(%),이동거리(KM),사용시간(분),년도,월
0,0,2017-01-01,0,230. 영등포구청역 1번출구,정기,F,~10대,1,31.27,0.39,1.68,155,2017,1
1,1,2017-01-01,0,315. 신한은행 안국역지점 옆,정기,F,20대,1,47.32,0.55,2.39,15,2017,1
2,2,2017-01-01,0,328. 탑골공원 앞,정기,F,20대,1,57.92,0.52,2.25,13,2017,1
3,3,2017-01-01,0,175. 홍연2교옆,정기,F,20대,1,133.29,1.53,6.60,43,2017,1
4,4,2017-01-01,0,817. 삼각지역 4번출구 앞,정기,F,20대,1,33.88,0.32,1.38,8,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29579511,42049929,2020-12-31,23,125. 서강대 남문 옆,일일권,M,20대,1,69.69,0.70,3.03,41,2020,12
29579512,42049931,2020-12-31,23,1211. 방이삼거리,일일권,M,20대,1,118.09,0.82,3.55,31,2020,12
29579513,42049935,2020-12-31,23,1416. 상봉역 3번출구,일일권,M,30대,1,18.33,0.17,0.71,4,2020,12
29579514,42049936,2020-12-31,23,1625. 상계역(4번출구),일일권,M,50대,1,20.52,0.15,0.65,7,2020,12
29579515,42049937,2020-12-31,23,419. 홈플러스 앞,단체권,NaN,20대,4,18.19,2.13,9.19,128,2020,12

In [4]:
time_data = bicycle_data[bicycle_data['사용시간(분)']>360]
time_data

,Unnamed: 0,대여일자,대여시간,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량(Kcal),탄소량(%),이동거리(KM),사용시간(분),년도,월
1871,1895,2017-01-01,21,816. 신용산역 6번출구 앞,정기,F,60대,1,93.69,0.84,3.64,587,2017,1
2400,2437,2017-01-02,7,540. 군자역 7번출구 베스트샵 앞,정기,M,20대,1,40.80,0.43,1.84,392,2017,1
4772,4842,2017-01-02,19,345. 서울보증보험본사 앞,정기,M,30대,1,28.05,0.21,0.92,733,2017,1
5020,5090,2017-01-02,20,383. 신당역 12번 출구 뒤,정기,M,40대,1,97.38,0.98,4.24,640,2017,1
5728,5806,2017-01-03,2,573. 구의문주차장 앞,일일(회원),M,60대,1,143.63,1.29,5.58,1046,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29549406,41991344,2020-12-29,14,589. 성수역3번출구,정기권,M,50대,1,65.53,0.51,2.21,393,2020,12
29555047,42003990,2020-12-29,20,2297. 남부터미널역 1번출구,일일권,NaN,~10대,2,628.84,3.68,15.88,389,2020,12
29566560,42027549,2020-12-31,0,709. 신정3동 현장민원실 앞,정기권,F,50대,1,11.88,0.11,0.46,543,2020,12
29566660,42027748,2020-12-31,1,2910.도깨비시장,정기권,NaN,20대,1,85.74,0.56,2.41,368,2020,12
29570313,42034119,2020-12-31,11,1730. 도봉산역 교차로 앞,일일권,M,20대,2,1823.18,15.60,67.23,383,2020,12

In [6]:
bicycle_data=bicycle_data[bicycle_data['사용시간(분)']<=360]
bicycle_data

,Unnamed: 0,대여일자,대여시간,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량(Kcal),탄소량(%),이동거리(KM),사용시간(분),년도,월
0,0,2017-01-01,0,230. 영등포구청역 1번출구,정기,F,~10대,1,31.27,0.39,1.68,155,2017,1
1,1,2017-01-01,0,315. 신한은행 안국역지점 옆,정기,F,20대,1,47.32,0.55,2.39,15,2017,1
2,2,2017-01-01,0,328. 탑골공원 앞,정기,F,20대,1,57.92,0.52,2.25,13,2017,1
3,3,2017-01-01,0,175. 홍연2교옆,정기,F,20대,1,133.29,1.53,6.60,43,2017,1
4,4,2017-01-01,0,817. 삼각지역 4번출구 앞,정기,F,20대,1,33.88,0.32,1.38,8,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29579511,42049929,2020-12-31,23,125. 서강대 남문 옆,일일권,M,20대,1,69.69,0.70,3.03,41,2020,12
29579512,42049931,2020-12-31,23,1211. 방이삼거리,일일권,M,20대,1,118.09,0.82,3.55,31,2020,12
29579513,42049935,2020-12-31,23,1416. 상봉역 3번출구,일일권,M,30대,1,18.33,0.17,0.71,4,2020,12
29579514,42049936,2020-12-31,23,1625. 상계역(4번출구),일일권,M,50대,1,20.52,0.15,0.65,7,2020,12
29579515,42049937,2020-12-31,23,419. 홈플러스 앞,단체권,NaN,20대,4,18.19,2.13,9.19,128,2020,12

In [7]:
del bicycle_data['Unnamed: 0']

In [9]:
import gc

In [14]:
del time_data

NameError: name 'time_data' is not defined

In [15]:
del bicycle_data['대여일자']

In [16]:
bicycle_data

,대여시간,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량(Kcal),탄소량(%),이동거리(KM),사용시간(분),년도,월
0,0,230. 영등포구청역 1번출구,정기,F,~10대,1,31.27,0.39,1.68,155,2017,1
1,0,315. 신한은행 안국역지점 옆,정기,F,20대,1,47.32,0.55,2.39,15,2017,1
2,0,328. 탑골공원 앞,정기,F,20대,1,57.92,0.52,2.25,13,2017,1
3,0,175. 홍연2교옆,정기,F,20대,1,133.29,1.53,6.60,43,2017,1
4,0,817. 삼각지역 4번출구 앞,정기,F,20대,1,33.88,0.32,1.38,8,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...
29579511,23,125. 서강대 남문 옆,일일권,M,20대,1,69.69,0.70,3.03,41,2020,12
29579512,23,1211. 방이삼거리,일일권,M,20대,1,118.09,0.82,3.55,31,2020,12
29579513,23,1416. 상봉역 3번출구,일일권,M,30대,1,18.33,0.17,0.71,4,2020,12
29579514,23,1625. 상계역(4번출구),일일권,M,50대,1,20.52,0.15,0.65,7,2020,12
29579515,23,419. 홈플러스 앞,단체권,NaN,20대,4,18.19,2.13,9.19,128,2020,12

In [17]:
bicycle_data.to_csv('bicycle_data.csv', index=False)

In [19]:
new_data = bicycle_data.groupby(['년도','월','연령대코드'])['사용시간(분)'].sum()
new_data

년도    월   연령대코드
2017  1   20대        599556
          30대        371528
          40대        257712
          50대        105708
          60대         34534
          70대~        17892
          ~10대        31730
      2   20대        776402
          30대        414244
          40대        272486
          50대        113392
          60대         35299
          70대~        17206
          ~10대        54593
      3   20대       2221934
          30대       1013522
          40대        646209
          50대        234764
          60대         78663
          70대~       163205
          ~10대        95266
      4   20대       4903032
          30대       2170641
          40대       1107163
          50대        403875
          60대        118873
          70대~        45180
          ~10대       208680
      5   20대       7112146
          30대       3117716
          40대       1565268
          50대        595884
          60대        175688
          70대~        64699
          ~10대       359187
      6   20대       7938861
          30대       3853573
          40대       2007307
          50대        774170
          60대        221384
          70대~       108997
          ~10대       397966
      7   20대       4647807
          30대       2415427
          40대       1374222
          50대        608927
          60대        175618
          70대~        58498
          ~10대       274833
      8   20대       6941203
          30대       3361008
          40대       1891937
          50대        804580
          60대        246381
          70대~        74517
          ~10대       413915
      9   20대      12190764
          30대       5817638
          40대       3144604
          50대       1268912
          60대        384318
          70대~       112938
          ~10대       686893
      10  20대      10793570
          30대       5745950
          40대       3343815
          50대       1353148
          60대        340790
          70대~       111630
          ~10대       694571
      11  20대       4061523
          30대       2494681
          40대       1719266
          50대        736784
          60대        218274
          70대~        66162
          ~10대       284211
      12  20대       1349621
          30대        927288
          40대        703871
          50대        295169
          60대        111514
          70대~        39420
          ~10대       106047
2018  1   20대       1019128
          30대        800463
          40대        583504
          50대        291836
          60대         95474
          70대~        43001
          ~10대        41482
      2   20대       1245676
          30대        901266
          40대        642896
          50대        308392
          60대         98150
          70대~        41480
          ~10대        54859
      3   20대       5135739
          30대       2756647
          40대       1725368
          50대        772403
          60대        223491
          70대~        91452
          ~10대       182112
      4   20대       8028067
          30대       4341900
          40대       2405505
          50대       1035553
          60대        275552
          70대~       100713
          ~10대       276570
      5   20대      11790928
          30대       6374136
          40대       3462315
          50대       1491370
          60대        372659
          70대~       124547
          ~10대       520753
      6   20대      14322449
          30대       7993228
          40대       4338738
          50대       1911412
          60대        471578
          70대~       152691
          ~10대       652466
      7   20대       9977363
          30대       5578968
          40대       3172926
          50대       1517292
          60대        393221
          70대~       122224
          ~10대       396071
      8   20대       8674201
          30대       4679538
          40대       2626818
          50대       1267341
          60대        324874
          70대~       101156
          ~10대       330195
      9   20대      10943748
          30대       5547762
          40대       3056039
          50대       1400456
          60대        359830
          70대~       107201
          ~10대       410684
      10  20대       8206884
          30대       4735491
          40대       2848695
          50대       1318224
          60대        340200
          70대~       102232
          ~10대       344889
      11  20대       4379315
          30대       2614289
          40대       1855769
          50대        910970
          60대        241359
          70대~        73138
          ~10대       220499
      12  20대       3758998
          30대       2122528
          40대       1607850
          50대        837598
          60대        261427
          70대~        55793
          ~10대       454003
2019  1   20대       1913890
          30대       1537385
          40대       1179602
          50대        640578
          60대        199276
          70대~        56979
          ~10대        38293
      2   20대       1948570
          30대       1423286
          40대       1024397
          50대        556576
          60대        171428
          70대~        50645
          ~10대        41544
      4   20대      11532326
          30대       5389579
          40대       3061754
          50대       1436312
          60대        392946
          70대~        78546
          ~10대       765805
      5   20대      29272417
          30대      12831576
          40대       7091680
          50대       3472247
          60대        924777
          70대~       182477
          ~10대      2507337
      6   20대      27655110
          30대      13011876
          40대       7596675
          50대       3832549
          60대        998917
          70대~       193591
          ~10대      2517166
      7   20대      24045572
          30대      10758525
          40대       6617998
          50대       3678488
          60대       1005494
          70대~       179568
          ~10대      2773902
      8   20대      25196438
          30대      11400559
          40대       6685268
          50대       3724121
          60대       1002424
          70대~       186001
          ~10대      2886838
      9   20대      25023884
          30대      11703077
          40대       6861220
          50대       3583828
          60대        947677
          70대~       201879
          ~10대      2816011
      10  20대      26068576
          30대      13096430
          40대       8317099
          50대       4181001
          60대       1089522
          70대~       223799
          ~10대      3453066
      11  20대      12980637
          30대       6734233
          40대       4872925
          50대       2665674
          60대        748983
          70대~       144119
          ~10대      2050436
      12  20대       6002327
          30대       3413464
          40대       2692728
          50대       1549519
          60대        486715
          70대~       110994
          ~10대      1097372
2020  1   20대       5665429
          30대       3357434
          40대       2533110
          50대       1582858
          60대        549543
          70대~       128339
          ~10대       641613
      2   20대       6381420
          30대       3447916
          40대       2612618
          50대       1618518
          60대        524519
          70대~       122159
          ~10대       751992
      3   20대      19815274
          30대       9058505
          40대       6267209
          50대       3300366
          60대        937038
          70대~       197789
          ~10대      2775014
      4   20대      22231864
          30대      10297717
          40대       6812874
          50대       3290760
          60대        865955
          70대~       162896
          ~10대      3178161
      5   20대      18340161
          30대       8066390
          40대       4934493
          50대       2252073
          60대        614058
          70대~       117354
          ~10대      2223238
      6   20대      13370241
          30대       5948220
          40대       3486986
          50대       1654209
          60대        468333
          70대~        91365
          ~10대      1440631
      7   20대      20509894
          30대       9859198
          40대       6634463
          50대       3545153
          60대        942993
          70대~       153003
          ~10대      2534651
      8   20대       3386500
          30대       1395989
          40대        895210
          50대        482890
          60대        169928
          70대~        35820
          ~10대       432892
      9   20대       7917939
          30대       3152635
          40대       1842449
          50대        875874
          60대        242851
          70대~        49156
          ~10대       972999
      10  20대       3963144
          30대       1832488
          40대       1251750
          50대        578017
          60대        153877
          70대~        30817
          ~10대       499478
      11  20대       1358954
          30대        653616
          40대        481182
          50대        261545
          60대         84320
          70대~        14964
          ~10대       188067
      12  20대       2185682
          30대       1237557
          40대       1037974
          50대        592193
          60대        186337
          70대~        29971
          ~10대       441944
Name: 사용시간(분), dtype: int64

In [20]:
del [new_data]
gc.collect()

78

In [21]:
bicycle_data['연령대코드']=np.where(bicycle_data['연령대코드']=='~10대','10대이하',bicycle_data['연령대코드'])
bicycle_data['연령대코드']=np.where(bicycle_data['연령대코드']=='70대~','70대이상',bicycle_data['연령대코드'])
bicycle_data

C:\Users\BIT\anaconda3\envs\data-anal-env\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\BIT\anaconda3\envs\data-anal-env\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,대여시간,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량(Kcal),탄소량(%),이동거리(KM),사용시간(분),년도,월
0,0,230. 영등포구청역 1번출구,정기,F,10대이하,1,31.27,0.39,1.68,155,2017,1
1,0,315. 신한은행 안국역지점 옆,정기,F,20대,1,47.32,0.55,2.39,15,2017,1
2,0,328. 탑골공원 앞,정기,F,20대,1,57.92,0.52,2.25,13,2017,1
3,0,175. 홍연2교옆,정기,F,20대,1,133.29,1.53,6.60,43,2017,1
4,0,817. 삼각지역 4번출구 앞,정기,F,20대,1,33.88,0.32,1.38,8,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...
29579511,23,125. 서강대 남문 옆,일일권,M,20대,1,69.69,0.70,3.03,41,2020,12
29579512,23,1211. 방이삼거리,일일권,M,20대,1,118.09,0.82,3.55,31,2020,12
29579513,23,1416. 상봉역 3번출구,일일권,M,30대,1,18.33,0.17,0.71,4,2020,12
29579514,23,1625. 상계역(4번출구),일일권,M,50대,1,20.52,0.15,0.65,7,2020,12
29579515,23,419. 홈플러스 앞,단체권,NaN,20대,4,18.19,2.13,9.19,128,2020,12

In [22]:
old_data = bicycle_data[bicycle_data['연령대코드']=='70대이상']
old_data

,대여시간,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량(Kcal),탄소량(%),이동거리(KM),사용시간(분),년도,월
654,12,907. CJ 드림시티,정기,M,70대이상,1,95.16,0.62,2.67,21,2017,1
774,13,336. 티마크 호텔 앞,정기,M,70대이상,1,27.03,0.24,1.05,5,2017,1
836,14,175. 홍연2교옆,정기,F,70대이상,1,27.88,0.20,0.88,7,2017,1
913,14,311. 서울광장 옆,정기,M,70대이상,1,22.73,0.19,0.82,5,2017,1
914,14,101. (구)합정동 주민센터,정기,M,70대이상,1,50.59,0.41,1.75,8,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...
29577110,18,634. 외국어대 정문 앞,일일권,F,70대이상,1,97.85,0.82,3.53,49,2020,12
29577781,19,431. 청계천 영도교,정기권,M,70대이상,1,33.20,0.25,1.07,7,2020,12
29577782,19,175. 홍연2교옆,정기권,M,70대이상,1,46.67,0.46,1.96,12,2020,12
29577865,19,1744.KT방학지사 앞,일일권,F,70대이상,1,38.50,0.35,1.50,7,2020,12
29578112,20,1222. 잠실새내역 5번 출구 뒤,정기권,NaN,70대이상,1,23.53,0.21,0.91,7,2020,12

In [23]:
del [old_data]
gc.collect()

60

In [24]:
carbon_data = bicycle_data.groupby(['년도'])['탄소량(%)'].sum()
carbon_data

년도
2017    4.084828e+06
2018    6.239397e+06
2019    1.376068e+07
2020    7.924925e+06
Name: 탄소량(%), dtype: float64

In [25]:
del [carbon_data]
gc.collect()

40

In [26]:
exer_data = bicycle_data.groupby(['년도'])['운동량(Kcal)'].sum()
exer_data

년도
2017    2.195429e+09
2018    1.568535e+09
2019    1.584690e+09
2020    2.340537e+09
Name: 운동량(Kcal), dtype: float64

In [27]:
mean_data = bicycle_data.groupby(['년도'])['운동량(Kcal)'].mean()
mean_data

년도
2017    539.612406
2018    250.537185
2019    126.479985
2020    351.267780
Name: 운동량(Kcal), dtype: float64

In [28]:
del [[exer_data,mean_data]]
gc.collect()

60

In [30]:
time_data = bicycle_data.groupby(['년도','연령대코드'])['사용시간(분)'].sum()
time_data

년도    연령대코드
2017  10대이하      3607892
      20대       63536419
      30대       31703216
      40대       18033860
      50대        7295313
      60대        2141336
      70대이상       880344
2018  10대이하      3884583
      20대       87482496
      30대       48446216
      40대       28326423
      50대       13062847
      60대        3457815
      70대이상      1115628
2019  10대이하     20947770
      20대      191639747
      30대       91299990
      40대       56001346
      50대       29320893
      60대        7968159
      70대이상      1608598
2020  10대이하     16080680
      20대      125126502
      30대       58307665
      40대       38790318
      50대       20034456
      60대        5739752
      70대이상      1133633
Name: 사용시간(분), dtype: int64

In [31]:
distance_data = bicycle_data.groupby(['년도','연령대코드'])['이동거리(KM)'].sum()
distance_data

년도    연령대코드
2017  10대이하    4.430126e+05
      20대      8.165658e+06
      30대      4.254051e+06
      40대      2.426196e+06
      50대      1.001367e+06
      60대      2.640115e+05
      70대이상    1.105204e+05
2018  10대이하    5.327895e+05
      20대      1.267766e+07
      30대      7.093760e+06
      40대      4.073889e+06
      50대      1.911178e+06
      60대      4.670929e+05
      70대이상    1.375368e+05
2019  10대이하    2.919927e+06
      20대      2.875897e+07
      30대      1.372498e+07
      40대      8.304330e+06
      50대      4.336499e+06
      60대      1.077098e+06
      70대이상    1.913898e+05
2020  10대이하    1.991810e+06
      20대      1.569199e+07
      30대      7.719275e+06
      40대      5.054940e+06
      50대      2.793352e+06
      60대      7.718734e+05
      70대이상    1.358522e+05
Name: 이동거리(KM), dtype: float64

In [32]:
company_data = bicycle_data.groupby(['년도','대여시간'])['사용시간(분)'].count()
company_data

년도    대여시간
2017  0        120672
      1         92239
      2         64415
      3         42895
      4         28996
      5         31915
      6         61829
      7        139706
      8        230851
      9        150854
      10       124610
      11       146975
      12       173369
      13       177379
      14       190463
      15       209730
      16       233219
      17       272883
      18       368928
      19       300159
      20       265986
      21       257056
      22       225126
      23       158274
2018  0        201778
      1        160547
      2        114018
      3         77204
      4         50073
      5         51333
      6        105988
      7        223393
      8        377436
      9        239044
      10       195948
      11       222629
      12       259228
      13       272343
      14       282052
      15       307173
      16       345228
      17       422280
      18       555904
      19       438945
      20       391893
      21       378779
      22       340016
      23       247456
2019  0        432002
      1        362567
      2        261057
      3        183294
      4        117083
      5        116908
      6        213329
      7        464463
      8        720184
      9        477973
      10       388612
      11       442624
      12       503078
      13       520335
      14       543786
      15       593559
      16       683299
      17       853442
      18      1079349
      19       865270
      20       783589
      21       749058
      22       672054
      23       502259
2020  0        188145
      1        151455
      2        105528
      3         72575
      4         48630
      5         47949
      6         88258
      7        206955
      8        345620
      9        231410
      10       201510
      11       241507
      12       286996
      13       319204
      14       352762
      15       389134
      16       434272
      17       538584
      18       631825
      19       469906
      20       406916
      21       372160
      22       310975
      23       220837
Name: 사용시간(분), dtype: int64

In [33]:
del [[time_data,company_data,distance_data]]
gc.collect()

258

In [34]:
new_data=pd.pivot_table(bicycle_data, index = ['년도','월'], aggfunc = 'sum')
new_data

             대여시간   사용시간(분)     운동량(Kcal)    이동거리(KM)     이용건수        탄소량(%)
년도   월
2017 1    1050192   1418660  5.744523e+06   209765.51    82690  4.866475e+04
     2    1068135   1683622  6.615717e+06   240935.08    83894  5.589574e+04
     3    2296877   4453563  1.683327e+07   624632.29   184774  1.449114e+05
     4    3794258   8957444  2.263382e+08  1190745.21   311178  2.762502e+05
     5    5401405  12990588  4.723074e+07  1769419.84   439308  4.105038e+05
     6    6426806  15302258  2.184978e+08  2170178.72   521276  5.034793e+05
     7    4615094  10322803  4.051585e+07  1505566.64   375384  3.492925e+05
     8    6248626  15283230  3.521553e+08  2081810.30   520916  4.829788e+05
     9    9858999  26511648  4.629503e+08  3054227.55   854562  7.085670e+05
     10   9645236  25379472  3.295135e+08  2950863.91   831539  6.845989e+05
     11   5494046  10210097  4.406554e+08  1287981.85   470016  2.988131e+05
     12   2365871   3707426  4.837816e+07   520997.24   195117  1.208729e+05
2018 1    1926288   2874888  1.127879e+07   408806.87   156103  9.484182e+04
     2    1988268   3292719  1.317475e+07   480377.83   158947  1.114474e+05
     3    5253475  10887212  1.269606e+08  1584993.06   422995  3.677132e+05
     4    7221631  16463860  1.897926e+08  2379669.88   603525  5.520796e+05
     5    9832837  24136708  3.460325e+08  3416287.67   829343  7.925803e+05
     6   12482502  29842562  1.159207e+08  4350205.40  1077229  1.009247e+06
     7   10105215  21158065  2.852326e+08  3168762.72   858979  7.351566e+05
     8    8925571  18004123  2.524351e+08  2625814.90   747501  6.091924e+05
     9    9327481  21825720  8.271619e+07  3124939.99   791214  7.249860e+05
     10   8898616  17896615  6.916897e+07  2580588.35   746366  5.986921e+05
     11   6192248  10295339  4.021371e+07  1478406.49   512066  3.430067e+05
     12   5922194   9098197  3.560869e+07  1295050.88   482894  3.004537e+05
2019 1    3795516   5566003  2.172857e+07   791112.85   304107  1.835437e+05
     2    3249867   5216446  2.053802e+07   751350.46   256577  1.743149e+05
     4   10034718  22657268  8.835806e+07  3317498.33   863001  7.696632e+05
     5   22997982  56282511  2.196002e+08  8261507.30  2067652  1.916672e+06
     6   23272818  55805884  2.253892e+08  8452554.85  2119918  1.960986e+06
     7   21751398  49059547  2.026950e+08  7570078.91  1996057  1.756260e+06
     8   20320114  51081649  2.044432e+08  7674050.40  1978270  1.780377e+06
     9   20282486  51137576  2.033575e+08  7674512.61  1881438  1.780481e+06
     10  23618222  56429493  2.226487e+08  8350187.41  2195457  1.937248e+06
     11  15541687  30197007  1.174453e+08  4336363.10  1391733  1.006042e+06
     12   9338588  15353119  5.848598e+07  2133973.53   790524  4.950886e+05
2020 1    8556907  14458326  5.632723e+07  2057052.97   709455  4.772365e+05
     2    8254998  15459142  6.089476e+07  2246514.30   682175  5.211971e+05
     3   14890036  42351195  6.714856e+08  6136229.43  1278427  1.423603e+06
     4   15091147  46840227  5.082002e+08  6429947.86  1405737  1.491744e+06
     5   10858859  36547767  4.042000e+08  4470022.43  1079822  1.037042e+06
     6    8496547  26459985  2.834617e+08  3157636.24   861995  7.325700e+05
     7   15497320  44179355  2.428561e+08  5397023.72  1419578  1.252130e+06
     8    2556914   6799229  2.117801e+07   795934.84   233416  1.846581e+05
     9    4250431  15053903  4.339359e+07  1653860.05   422351  3.836940e+05
     10   2701816   8309571  2.343509e+07   882259.43   269731  2.046850e+05
     11   1285118   3042648  8.649091e+06   320263.26   121098  7.430136e+04
     12   2720975   5711658  1.645564e+07   612346.19   223983  1.420647e+05

In [35]:
del [[new_data]]
gc.collect()

40

In [36]:
new_data=pd.pivot_table(bicycle_data, index = ['년도','월'], values=['사용시간(분)','운동량(Kcal)','이동거리(KM)','이용건수','탄소량(%)'],\
                        aggfunc = 'sum')
new_data

          사용시간(분)     운동량(Kcal)    이동거리(KM)     이용건수        탄소량(%)
년도   월
2017 1    1418660  5.744523e+06   209765.51    82690  4.866475e+04
     2    1683622  6.615717e+06   240935.08    83894  5.589574e+04
     3    4453563  1.683327e+07   624632.29   184774  1.449114e+05
     4    8957444  2.263382e+08  1190745.21   311178  2.762502e+05
     5   12990588  4.723074e+07  1769419.84   439308  4.105038e+05
     6   15302258  2.184978e+08  2170178.72   521276  5.034793e+05
     7   10322803  4.051585e+07  1505566.64   375384  3.492925e+05
     8   15283230  3.521553e+08  2081810.30   520916  4.829788e+05
     9   26511648  4.629503e+08  3054227.55   854562  7.085670e+05
     10  25379472  3.295135e+08  2950863.91   831539  6.845989e+05
     11  10210097  4.406554e+08  1287981.85   470016  2.988131e+05
     12   3707426  4.837816e+07   520997.24   195117  1.208729e+05
2018 1    2874888  1.127879e+07   408806.87   156103  9.484182e+04
     2    3292719  1.317475e+07   480377.83   158947  1.114474e+05
     3   10887212  1.269606e+08  1584993.06   422995  3.677132e+05
     4   16463860  1.897926e+08  2379669.88   603525  5.520796e+05
     5   24136708  3.460325e+08  3416287.67   829343  7.925803e+05
     6   29842562  1.159207e+08  4350205.40  1077229  1.009247e+06
     7   21158065  2.852326e+08  3168762.72   858979  7.351566e+05
     8   18004123  2.524351e+08  2625814.90   747501  6.091924e+05
     9   21825720  8.271619e+07  3124939.99   791214  7.249860e+05
     10  17896615  6.916897e+07  2580588.35   746366  5.986921e+05
     11  10295339  4.021371e+07  1478406.49   512066  3.430067e+05
     12   9098197  3.560869e+07  1295050.88   482894  3.004537e+05
2019 1    5566003  2.172857e+07   791112.85   304107  1.835437e+05
     2    5216446  2.053802e+07   751350.46   256577  1.743149e+05
     4   22657268  8.835806e+07  3317498.33   863001  7.696632e+05
     5   56282511  2.196002e+08  8261507.30  2067652  1.916672e+06
     6   55805884  2.253892e+08  8452554.85  2119918  1.960986e+06
     7   49059547  2.026950e+08  7570078.91  1996057  1.756260e+06
     8   51081649  2.044432e+08  7674050.40  1978270  1.780377e+06
     9   51137576  2.033575e+08  7674512.61  1881438  1.780481e+06
     10  56429493  2.226487e+08  8350187.41  2195457  1.937248e+06
     11  30197007  1.174453e+08  4336363.10  1391733  1.006042e+06
     12  15353119  5.848598e+07  2133973.53   790524  4.950886e+05
2020 1   14458326  5.632723e+07  2057052.97   709455  4.772365e+05
     2   15459142  6.089476e+07  2246514.30   682175  5.211971e+05
     3   42351195  6.714856e+08  6136229.43  1278427  1.423603e+06
     4   46840227  5.082002e+08  6429947.86  1405737  1.491744e+06
     5   36547767  4.042000e+08  4470022.43  1079822  1.037042e+06
     6   26459985  2.834617e+08  3157636.24   861995  7.325700e+05
     7   44179355  2.428561e+08  5397023.72  1419578  1.252130e+06
     8    6799229  2.117801e+07   795934.84   233416  1.846581e+05
     9   15053903  4.339359e+07  1653860.05   422351  3.836940e+05
     10   8309571  2.343509e+07   882259.43   269731  2.046850e+05
     11   3042648  8.649091e+06   320263.26   121098  7.430136e+04
     12   5711658  1.645564e+07   612346.19   223983  1.420647e+05

In [37]:
time_data = bicycle_data.groupby(['년도','월'])['사용시간(분)'].sum()
time_data

년도    월
2017  1      1418660
      2      1683622
      3      4453563
      4      8957444
      5     12990588
      6     15302258
      7     10322803
      8     15283230
      9     26511648
      10    25379472
      11    10210097
      12     3707426
2018  1      2874888
      2      3292719
      3     10887212
      4     16463860
      5     24136708
      6     29842562
      7     21158065
      8     18004123
      9     21825720
      10    17896615
      11    10295339
      12     9098197
2019  1      5566003
      2      5216446
      4     22657268
      5     56282511
      6     55805884
      7     49059547
      8     51081649
      9     51137576
      10    56429493
      11    30197007
      12    15353119
2020  1     14458326
      2     15459142
      3     42351195
      4     46840227
      5     36547767
      6     26459985
      7     44179355
      8      6799229
      9     15053903
      10     8309571
      11     3042648
      12     5711658
Name: 사용시간(분), dtype: int64

In [38]:
check_data = bicycle_data.groupby(['년도'])['운동량(Kcal)'].mean()
check_data

년도
2017    539.612406
2018    250.537185
2019    126.479985
2020    351.267780
Name: 운동량(Kcal), dtype: float64

In [39]:
distance_data = bicycle_data.groupby(['년도'])['이동거리(KM)'].mean()
distance_data

년도
2017    4.327639
2018    4.295679
2019    4.734006
2020    5.126596
Name: 이동거리(KM), dtype: float64

In [40]:
del [[new_data]]
gc.collect()

100

In [41]:
new_data=pd.pivot_table(bicycle_data, index = ['년도'], values=['사용시간(분)','운동량(Kcal)','이동거리(KM)','이용건수','탄소량(%)'],\
                        aggfunc = ['sum','mean'])
new_data

            sum                                                      \
        사용시간(분)     운동량(Kcal)      이동거리(KM)      이용건수        탄소량(%)
년도
2017  136220811  2.195429e+09  1.760712e+07   4870654  4.084828e+06
2018  185776008  1.568535e+09  2.689390e+07   7387162  6.239397e+06
2019  398786503  1.584690e+09  5.931319e+07  15844734  1.376068e+07
2020  265213006  2.340537e+09  3.415909e+07   8707768  7.924925e+06

           mean
        사용시간(분)   운동량(Kcal)  이동거리(KM)      이용건수    탄소량(%)
년도
2017  33.481588  539.612406  4.327639  1.197154  1.004006
2018  29.673417  250.537185  4.295679  1.179928  0.996599
2019  31.828635  126.479985  4.734006  1.264627  1.098291
2020  39.803168  351.267780  5.126596  1.306862  1.189373

In [42]:
count_data = pd.pivot_table(bicycle_data, index = ['년도'], values=['이용건수'],aggfunc = ['count'])
count_data

         count
          이용건수
년도
2017   4068529
2018   6260688
2019  12529174
2020   6663113

In [46]:
del [[distance_data,time_data]]
gc.collect()

163

In [48]:
data_2020 = pd.read_csv('data/최종작업파일/2020_bicycle.csv')
data_2020

,Unnamed: 0,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
0,776956,2020-01-01,0,1044,1044. 굽은다리역,정기권,NaN,~10대,1,33.96,0.30,1280.00,6
1,776957,2020-01-01,0,1656,1656. 중앙하이츠 아파트 입구,정기권,NaN,~10대,1,40.15,0.39,1690.00,6
2,776958,2020-01-01,0,1337,1337. 돈암성당 옆,정기권,NaN,~10대,1,80.88,0.50,2150.00,12
3,776959,2020-01-01,0,1984,1984. 구로구청,정기권,NaN,~10대,1,47.36,0.43,1840.00,25
4,776960,2020-01-01,0,2601,2601. 석촌호수 서호사거리,정기권,NaN,~10대,1,29.34,0.26,1140.00,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19026030,19802986,2020-12-31,23,3121,3121.가좌삼거리,일일권,M,30대,1,0.00,0.00,0.00,13
19026031,19802987,2020-12-31,23,560,560. 비전교회 앞,일일권,M,30대,1,0.00,0.00,0.00,52
19026032,19802988,2020-12-31,23,1416,1416. 상봉역 3번출구,일일권,M,30대,1,18.33,0.17,711.99,4
19026033,19802989,2020-12-31,23,1625,1625. 상계역(4번출구),일일권,M,50대,1,20.52,0.15,647.86,7
19026034,19802990,2020-12-31,23,419,419. 홈플러스 앞,단체권,NaN,20대,4,18.19,2.13,9187.95,128

In [72]:
problem_data = pd.read_csv('data/최종작업파일/total_bicycle.csv')
problem_data

MemoryError: Unable to allocate 1.57 GiB for an array with shape (5, 42049938) and data type object

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 1000)

In [2]:
real_data = pd.read_csv('data/최종작업파일/real_data.csv', encoding = 'utf-8')
real_data

,대여시간,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량(Kcal),탄소량(%),이동거리(KM),사용시간(분),년도,월
0,0,230. 영등포구청역 1번출구,정기권,F,10대이하,1,31.27,0.39,1.68,155,2017,1
1,0,315. 신한은행 안국역지점 옆,정기권,F,20대,1,47.32,0.55,2.39,15,2017,1
2,0,328. 탑골공원 앞,정기권,F,20대,1,57.92,0.52,2.25,13,2017,1
3,0,175. 홍연2교옆,정기권,F,20대,1,133.29,1.53,6.60,43,2017,1
4,0,817. 삼각지역 4번출구 앞,정기권,F,20대,1,33.88,0.32,1.38,8,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...
41511134,23,3121.가좌삼거리,일일권,M,30대,1,354.51,1.23,5.00,13,2020,12
41511135,23,560. 비전교회 앞,일일권,M,30대,1,354.51,1.23,5.00,52,2020,12
41511136,23,1416. 상봉역 3번출구,일일권,M,30대,1,18.33,0.17,0.71,4,2020,12
41511137,23,1625. 상계역(4번출구),일일권,M,50대,1,20.52,0.15,0.65,7,2020,12
41511138,23,419. 홈플러스 앞,단체권,NaN,20대,4,18.19,2.13,9.19,128,2020,12

In [8]:
new_list=[]
for data in real_data['대여소명']:
    if "." in data:        
        index_position = data.index(".")
        new_data=data[index_position+1:]
        new_data=new_data.strip()
        new_list.append(new_data)
    else:
        cnt=0
        for i in range(len(data)):
            if data[i].isdigit():
                cnt+=1
            else:
                break
        new_data=data[cnt+1:]
        new_data=new_data.strip()
        new_list.append(new_data)

In [5]:
new_string = real_data['대여소명'][0]
new_string

'230.  영등포구청역 1번출구'

In [7]:
new_string.index('.')

3

In [9]:
real_data['대여소명']=new_list
real_data

,대여시간,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량(Kcal),탄소량(%),이동거리(KM),사용시간(분),년도,월
0,0,영등포구청역 1번출구,정기권,F,10대이하,1,31.27,0.39,1.68,155,2017,1
1,0,신한은행 안국역지점 옆,정기권,F,20대,1,47.32,0.55,2.39,15,2017,1
2,0,탑골공원 앞,정기권,F,20대,1,57.92,0.52,2.25,13,2017,1
3,0,홍연2교옆,정기권,F,20대,1,133.29,1.53,6.60,43,2017,1
4,0,삼각지역 4번출구 앞,정기권,F,20대,1,33.88,0.32,1.38,8,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...
41511134,23,가좌삼거리,일일권,M,30대,1,354.51,1.23,5.00,13,2020,12
41511135,23,비전교회 앞,일일권,M,30대,1,354.51,1.23,5.00,52,2020,12
41511136,23,상봉역 3번출구,일일권,M,30대,1,18.33,0.17,0.71,4,2020,12
41511137,23,상계역(4번출구),일일권,M,50대,1,20.52,0.15,0.65,7,2020,12
41511138,23,홈플러스 앞,단체권,NaN,20대,4,18.19,2.13,9.19,128,2020,12

In [10]:
del [new_list]
import gc
gc.collect()

149

In [11]:
final=pd.pivot_table(real_data, index = ['년도','대여소명'], values=['이용건수'],\
                        aggfunc = ['count'])
final

                     count
                      이용건수
년도   대여소명
2017 (구)신한은행 중랑교지점      64
     (구)합정동 주민센터      4183
     3호선 매봉역 3번출구앞    2650
     4동 주민센터 대여소       590
     5단지 사이             54
...                    ...
2020 흑석한강푸르지오(110동)    976
     흥국사 정류장           586
     희성오피앙           11842
     희훈타워빌 앞           551
     힐스테이트에코         11119

[6353 rows x 1 columns]

In [12]:
real_data.to_csv('final_data.csv', index=False)